/**Stylesheet**/

@font-face {
    font-family: 'Colfax';
    src: url('../fonts/Colfax-Regular.woff2') format('woff2'),
        url('../fonts/Colfax-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Colfax';
    src: url('../fonts/Colfax-Medium.woff2') format('woff2'),
        url('../fonts/Colfax-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.site-content {
    padding: 60px 0;
}

.Booking-block {
    max-width: 1096px;
    margin: 0 auto;
    font-family: Colfax;
}

.billing-heading h2 {
    color: #303744;
    font-size: 23px;
    font-weight: 500;
}

.book-expert-block {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 12px 17px 48px 0px rgba(14, 0, 98, 0.10);
    padding: 32px;
    max-width: 386px;
    float: right;
}

.Exper-detail-block {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    padding: 24px;
    margin: 0 0 16px 0;
}

.Exper-detail-block h3 {
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: #303744;
    margin: 0 0 15px 0;
}

.epert-img-name .name {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin: 13px 0 0 0;
}

.method-account {
    display: flex;
    gap: 16px;
    align-items: center;
}

.method-img-id {
    display: flex;
    align-items: center;
    gap: 6px;
}

.radio-tick input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.31);
}

.billing-wrapper {
    padding: 0 0 40px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    margin: 0 0 40px 0;
}

.billing-list {
    border-radius: 4px;
    border: 1px solid rgba(0, 89, 201, 0.30);
    background: rgba(0, 89, 201, 0.05);
    padding: 16px 24px;
    display: flex;
    gap: 14px;
    flex-direction: column;
}

.primary a.btn {
    border-radius: 23px;
    border: 2px  solid #0059C9;
    font-size: 14px;
    font-weight: 500;
    color: #0059C9;
    height: 22px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    margin-left: 26px;
    transition-duration: .3s;
}

.primary a.btn:hover {
    background: #0059C9;
    color: #fff;
}

.method-img-id .card-data {
    color: #303744;
    font-weight: 500;
}

.add-billing-buttom button {
    border-radius: 4px;
    border: 2px solid  #0059C9;
    width: 265px;
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: transparent;
    color: #0059C9;
    font-weight: 500;
    font-size: 15px;
    line-height: normal;
    font-family: Colfax;
}

.time-slot-preview p {
    color: rgba(48, 55, 68, 0.70);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    gap: 4px;
    align-items: center;
    margin: 0;
}

.meeting-summary {
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    padding: 24px 0  0;
    margin: 18px 0 0 0;
}

.summary-list {
    display: flex;
    justify-content: space-between;
}

.summary-list {
    display: flex;
    justify-content: space-between;
    margin: 0 0 16px 0;
}

.summary-list p {
    font-family: Colfax;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.summary-list span {
    font-weight: 500;
}

.epert-img-name img {
    width: 100%;
}

.summary-list p a {
    color: #0059C9;
    font-weight: 500;
}

.summary-right em {
    font-style: normal;
    font-weight: 500;
    color: #0059C9;
}

.Promo-code label {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    display: inline-block;
    color: #303744;
    margin: 0 0 6px 0;
}

.Promo-code input {
    border: 2px solid rgba(0, 0, 0, 0.10);
    width: 100%;
    height: 40px;
    padding: 7px 15px;
    border-radius: 4px !important;
}

.total-summary {
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    padding: 24px 0;
    margin: 24px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.summary-list:last-child {
    margin: 0;
}

.learn-action {
    margin: 0 0 32px 0;
}

.learn-action p {
    font-size: 14px;
    margin: 0;
}

.learn-action a {
    font-weight: 500;
    color: #0059C9;
}

.check-fund button {
    border-radius: 4px;
    background: #0059C9;
    width: 100%;
    padding: 11px;
    color: #fff;
    border: none;
    font-weight: 500;
    border: 2px solid transparent;
    transition-duration: .3s;
}

.check-fund button:hover {
    border-color: #0059C9;
    background: transparent;
    color: #0059C9;
}

/***Book consultant Popup Css**/

.consultant-popup .modal-dialog {
    max-width: 480px;
    border-radius: 8px;
}

.consultant-popup .modal-dialog .modal-header {
    position: absolute;
    right: 0;
    padding: 0;
    border: none;
    top: 0;
}

.consultant-popup .modal-dialog  .btn-close {
    margin: 0;
    padding: 14px;
    background: no-repeat;
    opacity: 1;
    width: auto;
    height: auto;
    outline: 0;
    box-shadow: none;
}
.consultant-popup  .modal-content {
    padding: 54px 56px 45px 56px;
    font-family: 'Colfax';
}

.consultant-popup  .modal-body {
    padding: 0;
}

.consultant-popup .btn-check:checked+.btn {
    background: #0059C9;
    border-color: #0059C9;
}

.consultant-popup .btn-check+.btn:hover {
    border-color: #0059C9;
}

.consultant-popup .btn-check+.btn:hover span {
    color: #0059C9;
}

.consultant-popup .modal-body h2 {
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    color: #303744;
    margin: 0 0 16px 0;
}

.hours-meet {
    border-radius: 8px;
    border: 1px solid rgba(48, 55, 68, 0.10);
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 16px;
}

.hours-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hours-list p {
    margin: 0;
}

.hours-list .radio-tick {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    line-height: normal;
}

.choose-time {
    margin: 16px 0 0 0;
}

.choose-time h3 {
    font-family: Colfax;
    font-size: 16px;
    font-style: normal;
    color: #303744;
    font-weight: 500;
}

.choose-time p {
    color: rgba(48, 55, 68, 0.70);
    font-family: Colfax;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.time-list ul {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0;
    gap: 8px;
}

.time-list ul li {
    width: 25%;
}

.time-list ul .btn-group {
    width: 100%;
}

.time-list .btn-outline-primary {
    border-radius: 4px;
    border: 2px solid rgba(0, 89, 201, 0.34);
    padding: 5px;
    width: 100%;
    margin: 10px 0;
}

.time-list .time-check {
    width: 100%;
}

.time-list span {
    color: rgba(48, 55, 68, 0.70);
    text-align: center;
    font-family: Colfax;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.time-list .btn-check:checked+.btn span {
    color: #fff;
}

.see-more-time a {
    color: #0059C9;
    font-family: Colfax;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
}

.book-cinsulatant-buttons {
    margin: 32px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.book-cinsulatant-buttons button {
    border-radius: 4px;
    background: #0059C9;
    padding: 11px;
    border-color: transparent;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    font-family: Colfax;
    transition-duration: .3s;
    height: 46px;
    border: 2px solid transparent;
}

.book-cinsulatant-buttons .border-button {
    background: transparent;
    border-color: #0059C9;
    color: #0059C9;
}

.book-cinsulatant-buttons .border-button:hover {
    background: #0059C9;
    color: #fff;
}

.sharing-report {
    margin: 24px 0 16px 0;
    display: flex;
    gap: 5px;
}

.copy-content p {
    color: #303744;
    font-size: 14px;
    font-style: normal;
    margin: 0;
}

.sharing-content {
    border-top: 1px solid rgba(14, 0, 98, 0.10);
    padding: 12px 0 0;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.sharing-content a {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #275846;
    text-align: center;
    font-family: Colfax;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}

.modal-body .radio-tick span {
    font-size: 15px;
    color: #303744;
}

.timing-fee p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.modal-body .radio-tick input[type="radio"] {
    margin: -3px 0 0 0;
}



/***Schedule consultant Popup Css**/

.consultant-popup.schedule .modal-dialog {
    max-width: 678px;
}

.schedule-calendar-time {
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.10);
    padding: 24px;
}

.schedule-calendar img {
    width: 100%;
}
.schedule-time {
    padding-left: 24px;
    border-left: 1px solid rgba(0, 0, 0, 0.10);
}
.schedule-time h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #333333;
    margin: 0 0 21px 0;
}

.schedule-time-list .time-list ul {
    flex-direction: column;
}

.schedule-calendar-time .time-list ul {
    flex-direction: column;
}

.schedule-calendar-time .time-list ul li {
    width: 100%;
}

.schedule-calendar-time .time-list ul label.btn {
    margin: 0;
}

.schedule-calendar-time .time-list  .confirm-box {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.schedule-calendar-time .time-list .confirm-box .rate-box {
    width: 100%;
}

.confirm-button {
    width: 100%;
}

.confirm-button .btn {
    border-radius: 4px;
    background: var(--color-theme-color-2, #0059C9);
    color: #fff;
    width: 100%;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    border: 2px solid transparent;
}

.schedule-calendar-time .confirm-box .btn-outline-primary {
    border-color: #0059C9;
}

.schedule-calendar-time .confirm-box .btn-outline-primary span {
    color: #0059C9;
}


/**Success Message css***/

.success-form {
    border-radius: 16px;
    background: #FFF;
    box-shadow: 19px 17px 48px 0px rgba(14, 0, 98, 0.12);
    max-width: 640px;
    padding: 64px 56px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.success-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.success-content h2 {
    color: #303744;
    font-size: 28px;
    font-style: normal;
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
}

.success-content p {
    color: #303744;
    font-size: 16px;
    margin: 0;
}

.team-review p {
    color: rgba(48, 55, 68, 0.70);
}






/****MEDIA QUERY***/
 
 @media screen and (max-width: 992px)
{
    .book-expert-block {
        width: 100%;
    }
}

 @media screen and (max-width: 767px)
{
    .book-expert-block {
        width: 100%;
        max-width: 100%;
        margin: 40px 0 0;
        padding: 20px;
    }

    .method-img-id {
        flex-direction: column;
        align-items: flex-start;
    }

    .primary a.btn {
        margin-left: 0;
    }

    .add-billing-buttom button {
        margin: 0 auto;
    }

    .schedule-time {
        margin: 16px 0 0;
        padding: 24px 0 0 0;
        border-top: 1px solid rgba(0, 0, 0, 0.10);
        border-left: 0;
    }

    .consultant-popup  .modal-content {
        padding: 40px 20px;
    }

    .schedule-calendar-time {
        padding: 20px;
    }

    .time-list ul {
        flex-direction: column;
    }

    .time-list ul li {
        width: 100%;
    }
    
    .time-list ul li label.btn {
        margin: 0;
    }

    .choose-time p {
        margin: 0 0 10px 0;
    }

    .success-form {
        padding: 20px;
    }
}